
:root {
  /*fuentes de google en variables*/
  --fuentePrincipal: "Montserrat", sans-serif;
  --fuenteTexto: "Raleway", sans-serif;
  --fuente1: 'Josefin Sans', sans-serif;
  --fuente2: 'Righteous', cursive;

  /*colores*/
  --colorPrimario: #A72523;
  --colorSecundario: #ce070f;
  --colorTerciario: #0f121b;
  --overlayColor: #8774e1e6;
  --grisHover: #555;
  --grisOscuro: #2f2e2e;
  --grisMedio: #474545;
  --grisClaro: #ebebeb;
  --grisEle: #f7f7f7;
  --grisBor: #c6c6c6;
  --blanco: #ffffff;
  --blancoFondo: #f7f7f7;
  --negro: #000000;
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --yellow2: #f1e300;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --borderColor: rgba(53, 55, 64, 0.2);
  --background1: #f3f3f3;
  --background2: #f1f0ec;
  --background3: #ffffff;
  --background4: #3b3b3b;
  --background5: #333;
  --background6: #1d1d1d;
  --background7: #191919;
  --background8: #222222;
  --background9: #e64236;

}
/* FUENTES */

@font-face {
  font-family: Righteous;
  src: url(./fonts/Righteous-Regular.ttf);
}
@font-face {
  font-family: Josefin Sans;
  src: url(./fonts/JosefinSans-VariableFont_wght.ttf);
}
html {
  box-sizing: border-box;
  font-size: 62.5%; /* Now 10px = 1rem! */
}
body {
  font-size: 16px; /* px fallback */
  font-size: 1.6rem; /* default font-size for document */
  line-height: 1.5; /* a nice line-height */
  margin: 0;
  background-color: var(--negro);
}
.body.home {
  font-size: 16px; /* px fallback */
  font-size: 1.6rem; /* default font-size for document */
  line-height: 1.5; /* a nice line-height */
  margin: 0;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
h1,
h2,
h3,
h4 {
  font-family: var(--fuentePrincipal);
  margin: 1rem 0;
  line-height: 1.2;
}
h1 {
  font-size: 4rem;
}
@media (min-width: 1024px) {
  h1 {
    font-size: 6rem;
  }
}
h2 {
  font-size: 3.5rem;
}
@media (min-width: 1024px) {
  h2 {
    font-size: 4.8rem;
  }
}
h3 {
  font-size: 3.6rem;
}
h4 {
  font-size: 2.4rem;
}
p {
  font-family: var(--fuenteTexto);
  font-size: 1.6rem;
}
@media (min-width: 1024px) {
  p {
    font-size: 1.6rem;
  }
}
/*ESTILOS GLOBALES */
a {
  text-decoration: none;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
  height: auto;
}
.contenedor {
  max-width: 1200px;
  width: 95%;
  margin: 0 auto;
}
.contenedor-2 {
  max-width: 1600px;
  width: 95%;
  margin: 0 auto;
}
.contenedor-3 {
  max-width: 1900px;
  width: 100%;
  margin: 0 auto;
}
/** UTILIDADES**/
.fuente1{
  font-family: var(--fuente1);
}
.fuente2{
  font-family: var(--fuente2);
}
.upper{
  text-transform: uppercase;
}
.texto-blanco {
  color: var(--blanco);
}
.neon-green{
  color: #00ff1c;
}
.neon-pink{
  color:#c72882;
}
.texto-negro {
  color: var(--negro);
}
.texto-primario {
  color: var(--colorPrimario);
}
.texto-secundario {
  color: var(--colorSecundario);
}
.texto-orange{
  color: var(--orange);
}
.text-center {
  text-align: center;
}
.texto-primario {
  color: var(--colorPrimario);
}
.texto-secundario {
  color: var(--colorSecundario) !important;
}
.texto-rojo{
  color: var(--red);
}
.text-right {
  text-align: right;
}
.bg-primario{
  background-color: var(--colorPrimario);
}
.bg-secundario{
  background-color: var(--colorSecundario);
}
.background-red{
  background-color: var(--red);
}
.bg-blanco{
  background-color: var(--blanco);
}
.bg-orange{
  background-color: var(--orange);
}
.bg-blue{
  background-color: var(--blue);
}
.bg-7{
  background-color: var(--background7);
}
.bg-8{
  background-color: var(--background8);
}
.bg-9{
  background-color: var(--background9);
}
.fw300 {
  font-weight: 300;
}
.fw600 {
  font-weight: 600;
}
.npd{
  padding: 0;
}
.pdt0{
  padding-top: 0;
}
.pdt1{
  padding-top: 1rem;
}
.pdt2{
  padding-top: 2rem;
}
.pdt4{
  padding-top: 4rem;
}
.pdb0{
  padding-bottom: 0;
}
.pdb1{
  padding-bottom: 1rem;
}
.pdb2{
  padding-bottom: 2rem;
}
.pdb4{
  padding-bottom: 4rem;
}
.mt4{
  margin-top: 4rem;
}
.mb4{
  margin-bottom: 4rem;
}
.op50{
  opacity: 50%;
}
.no-cursor{
  cursor: not-allowed;
}
.border-red{
  border: 2px solid var(--red);
}
.border-green{
  border: 2px solid var(--green);
}
.displayn{
  display: none;
}
.seccion {
  padding-bottom: 5rem;
}
.pagina h1 {
  margin-bottom: 4rem;
}
.imagen-destacada {
  margin-bottom: 3rem;
  display: block;
  margin: 0 auto;
}
section {
  position: relative;
  z-index: 5;
  padding: 10rem 0 15rem 0;
}
section.final {
  margin-bottom: 70rem;
}
@media (min-width: 1024px) {
  section.final {
    margin-bottom: 35rem;
  }
}
/*FLEX 3 BOX*/
.flex-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: normal;
}
.flex-items {
  display: block;
  align-self: auto;
  width: 35rem;
  margin: 2rem 3rem;
}
.flex-items p {
  color: var(--blanco);
}
.flex2-div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.flex2-div .flex-item1{
  margin-bottom: 2rem;
}

@media (min-width: 1024px) {
  .flex2-div{
    flex-direction: row;
    justify-content: space-around;
  }
  .flex2-div .flex-item1{
    margin-right: 3rem;
    margin-bottom: 0;
  }
}
@media (min-width: 1024px) {
  .flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: normal;
  }
  .flex-items {
    margin: 0 3rem;
  }
}
/* Top bar */
.top-bar{
  background-color: var(--background7);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 10;
  padding: 1rem 0 2rem;
}
.top-bar .logo img{
  margin: 0 auto;
  max-width: 100%;
}
.top-bar-social a i{
  color: var(--colorPrimario);
  font-size: 2.5rem;
  margin: 0 1rem;
}
.top-bar-social a i:hover{
  color: var(--colorSecundario);
}

/*Header*/
section.hero-img {
  height: 100px;
  position: relative;
  z-index: 5;
  min-height: 80rem;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
@media (min-width: 1024px) {
  section.hero-img {
    height: 90vh;
    min-height: 50rem;
  }
}
.header-grid .tagline {
  grid-column: 2/4;
  grid-row: 3/4;
}
.header-grid .tagline h1 {
  font-size: 4rem;
  font-weight: 700;
  text-transform: uppercase;
}
.header-grid .tagline p {
  font-family: var(--fuentePrincipal);
  font-weight: 300;
  font-size: 3rem;
}
@media (min-width: 1024px) {
  .header-grid .tagline h1 {
    font-size: 5rem;
  }
  .header-grid .tagline p {
    font-size: 4rem;
  }
}
.header-grid {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
}
.header-grid .barra-navegacion {
  grid-column: 1/5;
}
.header-grid .tagline {
  grid-column: 1/5;
  grid-row: 3/4;
  margin-top: 0;
}
.site-header {
  background-color: var(--colorPrimario);
  padding: 0;
  z-index: 5;
  position: relative;
}
@media (min-width: 1024px) {
  .site-header {
    border-bottom: 1px solid var(--colorPrimario);
    padding: 2rem 0;
  }
}
@media (min-width: 1024px) {
  .barra-navegacion {
    display: flex;
    justify-content: center;
  }
}
.tagline {
  color: var(--blanco);
  margin-top: 5rem;
}
.tagline p {
  font-size: 1.8rem;
}
/*TOP BAR*/

/*MENU STICKY*/
@media (min-width: 1024px) {
  .header-normal {
    position: sticky;
    top: 0;
  }
  .site-header.sticky {
    /*position: sticky;*/
    top: 0;
    z-index: 100;
  }
}
/*MENU PRINCIPAL*/
.menu_principal {
  display: none;
}
@media (min-width: 1024px) {
  .menu_principal {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .menu_principal .menu {
    display: flex;
    justify-content: space-around;
  }
  .menu_principal li {
    margin-right: 2rem;
  }
  .menu_principal li:last-of-type {
    margin-right: 0;
  }
  .menu_principal a {
    color: var(--blanco);
    font-family: var(--fuentePrincipal);
    font-size: 2rem;
    padding: 0.5rem 1rem;
    text-transform: uppercase;
    font-weight: 300 !important;
    letter-spacing: 1px;
    position: relative;
    z-index: 1;
    transition: 0.2s;
  }
  .menu_principal a::before,
    .menu_principal a::after{
        position: absolute;
        content: '';
        display: block;
        width: 100%;
        height: 51%;
        background-color: var(--colorSecundario);
        z-index: -1;
        transform: scaleX(0);
        transition:  transform .4s;
    }
    .menu_principal a::before{
        top: 0;
        transform-origin: left;
    }
    .menu_principal a::after{
        top:51%;
        transform-origin: right;
    }
    .menu_principal a:hover::before{
        transform: scaleX(1);
    }
    .menu_principal a:hover::after{
        transform: scaleX(1);
    }
    .menu_principal .current_page_item a {
      border-bottom: 1px solid var(--colorSecundario);
    }
}

body.home .slicknav_menu {
  background-color: var(--blanco) !important;
  position: relative;
  z-index: 5;
}
.slicknav_menu {
  background-color: var(--colorPrimario) !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem !important;
  position: relative;
  z-index: 5;
}
@media (min-width: 1024px) {
  .slicknav_menu {
    display: none;
  }
}
.slicknav_btn {
  background-color: var(--colorSecundario) !important;
}
.slicknav_nav a {
  font-size: 1.8rem;
  font-family: var(--fuentePrincipal);
  text-align: center;
  color: var(--blanco) !important;
}
.slicknav_nav a:hover {
  background: transparent !important;
  color: var(--colorSecundario) !important;
}
/*FOOTER*/
.site-footer {
  background-color: var(--background7);
  position: fixed;
  width: 100%;
  z-index: 1;
  bottom: 0;
  height: 70rem;
  padding: 5rem 0;
  border-top: 1px solid var(--colorSecundario);
}
.site-footer .barra-inferior{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.barra-inferior1{
  background-color: var(--negro);
}
.contenido-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 0;
}
.logo-footer{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logo-footer .social-menu-zone a{
  color: var(--colorPrimario);
}
.logo-footer .social-menu-zone a:hover{
  color: var(--colorSecundario);
}
.informacion-footer{
  text-align: center;
}
.informacion-footer a{
  color: var(--blanco);
}
.informacion-footer a:hover{
  color: var(--colorSecundario);
}
.contacto-footer{
  text-align: center;
}
.contacto-footer .contacto-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contacto-footer .contacto-container div{
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 4rem;
}
.contacto-footer .contacto-container div p{
  margin-left: .8rem;
}
@media (min-width: 1024px) {
  .contenido-footer {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding-top: 3rem;
    margin-bottom: 2rem;
  }
  .site-footer {
    height: 35rem;
    padding: 3rem 0 1rem 0;
  }
  .informacion-footer{
    text-align: left;
  }
  .contacto-footer{
    text-align: left;
  }
  .contacto-footer .contacto-container{
    align-items: flex-start;
  }
}
.social-menu-zone {
  padding: 2rem 0 2rem 0;
}
.social-menu-zone a {
  color: var(--blanco);
  font-size: 3rem;
  padding: 0.5rem;
  margin: 0.5rem;
  transition: 0.3s;
}
.social-menu-zone a:hover {
  color: var(--colorSecundario);
}
.copyright {
  text-align: center;
  color: var(--blanco);
  font-family: var(--fuenteTexto);
}
/*BOTONES*/
.boton-primario {
  background-color: var(--colorPrimario);
  border: 1px solid var(--colorPrimario);
  color: var(--blanco);
  padding: 0 1rem;
  margin: 1rem auto;
  width: auto;
  text-align: center;
}
.boton-primario:hover {
  background-color: var(--blanco);
  border: 1px solid var(--colorPrimario);
  color: var(--colorPrimario);
  padding: 0 1rem;
}

/* FOOTER */
.footer {
  border-top:1px solid var(--colorPrimario);;
  padding-top: 40px;   
}

/* ESTILOS PARA EL FORMULARIO */
.formulario {
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
	transition: .3s ease all;
}

.formulario input {
	height: 40px;
	line-height: 40px;
	width: 100%;
	text-align: center;
	border: none;
	margin: 0 px;
}
.formulario .btn {
	background: #D84846;
	height: 40px;
	line-height: 40px;
	border-radius: 0;
}

.error_box {
	background: #c40018;
	color: #fff;
	text-align: center;
	padding: 5px 0;
	font-size: 12px;
	line-height: 12px;
	display: none;
}

.error_box.active {
	display: block;
}

table {
	width: 100%;
	background: #fff;
	border-collapse: collapse;
	text-align: center;
	margin-bottom: 80px;
	box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
}

td, th {
	border-bottom:1px solid #E9E9E9;
	padding: 20px;
}

th {
	color:#393A58;
	font-size: 16px;
}

td {
	font-size: 14px;
}

.loader {
	margin: auto;
	display: none;
    border: 5px solid #f3f3f3; /* Light grey */
    border-top: 5px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
}

.loader.active {
	display: block;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.btn {
	font-size: 14px;
	font-family: 'Montserrat', sans-serif;
	border: none;
	color: #fff;
	background: #D84846;
	cursor: pointer;
	height: 40px;
	line-height: 40px;
	padding: 0 20px;
	border-radius:100px;
}
/* PÁGINA DE INICIO */
section#inicio{
  padding: 0;
}
section.hero-img{
  background-image: url(../img/bg/10.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0;
}
section.hero-img .overlay-1 .contenedor{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.overlay-1{
 background-color: #020202b3;
 height: 100%;
}


/* PÁGINA DE MENU */
section.hero-img2{
  background-color: var(--colorTerciario);
  height: 40vh;
}
section.hero-img2 .overlay-1 .contenedor{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.overlay-1{
 background-color: #020202b3;
 height: 100%;
}

/* PRODUCTOS */
section#productos{
  padding: 0;
}


/* PEDIDOS */
section#pedidos{
  padding: 0;
}